  /* .menu {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .menu-item {
   
    padding: 10px 20px;
    color: rgb(103, 172, 230);
    text-decoration: none;
    font-size: 25px;
  }

  .menu-item:hover {
    background-color: #0056b3;
  } */